html {
  background-color: #000000;
  width: 100vw;
  color: #FFFFFF;
}

div .carousel-caption {
  position: static;
  padding-bottom: 40px;
}

a.carousel-control-prev {
  left: -10%;
}

a.carousel-control-next {
  right: -10%;
}

div.alt-color {
  color: #fff;
}
